@use "./project/colors.scss";
@use "./project/font-size.scss";
@use "./project/size-scale.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oxygen", sans-serif;

  color: var(--color-gray-100);
  background: var(--color-gray-900);
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

button,
input,
select,
textarea {
  outline: none;
  border: none;
}
