@use './reset';

@use './style-guide/colors';
@use './style-guide/sizes';
@use './style-guide/fonts';

html,
body {
  font-family: 'Oxygen', Arial, Helvetica, sans-serif;

  color: var(--color-gray-100);
  background: var(--color-gray-900);
}

:root {
  --desktop-max-width: calc(1600px - 72px * 2);
  --tablet-max-width: calc(1024px - 64px * 2);
  --mobile-max-width: calc(428px - 32px * 2);
}
