.container {
  width: 100vw;
  height: 100%;

  display: flex;
  flex-direction: row;
  gap: var(--size-200);

  background: var(--color-gray-800);

  > section {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: var(--size-400);

    padding: var(--size-800) 0;
    padding-right: var(--size-600);

    header {
      width: 100%;
      & > div {
        width: 100%;
      }
    }

    .breadcrumbs {
      display: flex;
      align-items: center;
      gap: var(--size-100);

      .headingMuted {
        text-decoration: none;
        color: var(--color-gray-400);

        display: grid;
        place-items: center;

        border-radius: 4px;
        padding: calc(var(--size-100) / 2);

        &:hover {
          background: var(--color-gray-700);
        }
      }

      .cog {
        svg path {
          stroke: var(--color-primary-500);
        }
        transform: rotate(90deg);
      }

      .headingActive {
        text-decoration: none;
        color: var(--color-gray-200);

        display: grid;
        place-items: center;

        border-radius: 4px;
        padding: calc(var(--size-100) / 2);

        &:hover {
          background: var(--color-gray-700);
        }
      }
    }

    .folders,
    .files {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: var(--size-200);

      ul {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;

        gap: var(--size-100);

        .folder,
        .file,
        .create {
          text-decoration: none;

          padding: var(--size-200);
          border-radius: var(--size-100);

          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: var(--size-200);

          color: inherit;
        }

        .folder {
          background: var(--color-gray-900);

          &:hover {
            background: var(--color-gray-700);
          }
        }

        .create {
          color: var(--color-gray-600);
          border: 4px dashed var(--color-gray-600);
          background: transparent;

          text-decoration: none;

          small {
            text-decoration: none !important;
          }

          &:hover,
          &:focus {
            color: var(--color-gray-300);
            border: 4px dashed var(--color-gray-300);
          }
        }

        .file {
          border: 4px solid var(--color-gray-900);
          background: transparent;

          &:hover {
            border-color: var(--color-primary-500);
          }
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    flex-direction: column-reverse;

    justify-content: space-between;

    > section {
      padding: var(--size-600);

      gap: var(--size-700);

      header,
      section {
        padding: 0;
      }
    }
  }

  @media screen and (max-width: 428px) {
    > section {
      padding: var(--size-800) var(--size-400);
      gap: var(--size-700);

      header,
      section {
        padding: 0;
      }
    }
  }
}
