.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--size-300);

  padding: var(--size-900) 0;

  h4 {
    color: var(--color-gray-400);
  }

  * {
    text-align: center;
    width: 100%;
  }
}

.cardList {
  width: 100%;

  padding: var(--size-400) 0;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: var(--size-300);

  @media screen and (max-width: 1024px) {
    flex-direction: column;

    .card {
      width: 80%;
      gap: var(--size-200);
      height: auto;
    }
  }

  @media screen and (max-width: 1024px) {
    padding: var(--size-400);

    .card {
      width: 100%;
    }
  }
}

.card {
  width: 469px;
  height: 300px;

  background: var(--color-gray-800);

  padding: var(--size-400);
  border-radius: var(--size-100);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  h4 {
    color: var(--color-gray-200);
  }

  p {
    color: var(--color-gray-300);
  }

  * {
    text-align: center;
  }
}

.hasAnAccountLink {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-gray-400);

  padding: var(--size-400);
}

.formSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-gray-800);

  padding: var(--size-800);

  @media screen and (max-width: 428px) {
    padding: var(--size-400) var(--size-200);
  }
}

.form {
  width: 716px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-300);

  > * {
    width: 100%;
  }
}
