$lightness-step: 10;
$lightness-base: 7;

$colors: (
  gray: (
    hue: 220,
    saturation: 14,
  ),
  red: (
    hue: 360,
    saturation: 36,
  ),
  yellow: (
    hue: 60,
    saturation: 36,
  ),
  green: (
    hue: 100,
    saturation: 36,
  ),
  primary: (
    hue: 220,
    saturation: 36,
  ),
);

:root {
  @each $color, $properties in $colors {
    @for $i from 1 through 9 {
      $hue: map-get($properties, hue);
      $saturation: map-get($properties, saturation) + "%";
      $lightness: $lightness-base + ($lightness-step * (9 - $i)) + "%";

      // prettier-ignore
      --color-#{$color + ""}-#{$i * 100}: hsl(#{$hue}, #{$saturation}, #{$lightness});
    }
  }
}
