.container {
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: var(--size-200);
    padding: var(--size-600);

    p {
      text-align: center;
      color: var(--color-gray-300);
    }
  }

  section {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-200);

    padding: var(--size-600);
    background: var(--color-gray-800);
  }
}
