.sidebar {
  display: flex;
  flex-direction: column;

  padding: var(--size-800) var(--size-600);
  gap: var(--size-800);

  background: var(--color-gray-900);

  .profile {
    display: flex;
    flex-direction: row;
    gap: var(--size-200);

    .image {
      width: var(--size-800);
      height: var(--size-800);

      img {
        object-fit: cover;
      }
    }

    div {
      display: flex;
      flex-direction: column;

      gap: var(--size-100);
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: var(--size-600);

    width: 228px;

    li {
      width: 100%;
    }
  }

  @media screen and (max-width: 1024px) {
    width: 100%;
    flex-direction: row;

    ul {
      width: 100%;

      gap: 0px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      li {
        width: max-content;

        > div {
          flex-direction: column-reverse;
        }

        position: relative;

        div[data-dropdown] ~ div {
          width: max-content;

          position: absolute;
          z-index: 10;
          background: var(--color-gray-900);
          bottom: calc(var(--size-600) + var(--size-100));

          a {
            gap: var(--size-100);

            p {
              display: block;
            }

            button {
              transform: rotate(90deg) !important;
            }
          }
        }

        button {
          transform: rotate(0deg) !important;
        }
      }

      p {
        display: none;
      }
    }
  }

  @media screen and (max-width: 428px) {
    padding: var(--size-400) var(--size-300);

    li > a {
      padding: var(--size-100);
    }

    div[data-dropdown] {
      padding: var(--size-100);

      button {
        display: none;
      }
    }
  }
}

.filesDropdownItem {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  --base-color: var(--color-gray-200);
  color: var(--base-color);
  text-decoration: none !important;

  button {
    background: transparent;
    transform: rotate(90deg);

    svg path {
      stroke: var(--base-color);
    }
  }

  border-radius: var(--size-100);
  padding: var(--size-100) var(--size-200);

  &:hover {
    --base-color: var(--color-gray-100);
    background: var(--color-gray-800);
  }
}
