:root {
  --font-size-step: 4;
  --font-size-base: 20;

  @for $index from 0 through 7 {
    // prettier-ignore
    --font-size-#{($index + 1) * 100}: calc((var(--font-size-base) + #{$index} * var(--font-size-step)) * 1px);
  }
}

h1 {
  font-weight: 700;
  font-size: var(--font-size-800);
}

h2 {
  font-weight: 700;
  font-size: var(--font-size-700);
}

h3 {
  font-weight: 700;
  font-size: var(--font-size-600);
}

h4 {
  font-weight: 400;
  font-size: var(--font-size-500);
}

h5 {
  font-weight: 400;
  font-size: var(--font-size-400);
}

h6 {
  font-weight: 400;
  font-size: var(--font-size-300);
}

p {
  font-weight: 300;
  font-size: var(--font-size-200);
}

small {
  font-weight: 300;
  font-size: var(--font-size-100);
}

.bold {
  font-weight: bold;
}

.weight-bold {
  font-weight: 700;
}

.weight-normal {
  font-weight: 400;
}

.weight-light {
  font-weight: 300;
}

i,
.italic {
  font-style: oblique;
  font-style: italic;
}
